@charset "utf-8";

*, *::before, *::after {
   box-sizing: border-box;
}
* {
   margin: 0;padding: 0;
   font: inherit; color: inherit;line-height: 1;
}
a {
   text-decoration: none;
}
ol, ul, li {
   list-style: none;
}
button {
   background: none;border: none;
   cursor: pointer;
}
img, video, iframe {
   display: block;
}
input, select, textarea {
   outline: none;border: none;
}
table {
   border-collapse: collapse;
}